{% extends "layout.html" %} {% block title %}Password Generator{% endblock %} {% block
content %}
<form id="PG-FORM" class="lp-pg-settings">
                    <h3 class="lp-pg-settings__title">Customize your password</h3>
                <div class="lp-custom-range__wrapper">
                        <label class="lp-custom-range__label" for="lp-pg-password-length">
                            Password Length
                        </label>
                    <div class="lp-custom-range__inner">
                        <input value="12" name="length" class="lp-custom-range__number" step="1" id="lp-pg-password-length" type="number" min="0" max="100" />
                        <div class="lp-custom-range" id="lp-pg-password-range">
                            <div class="lp-custom-range__bar">
                                <div class="lp-custom-range__value"></div>
                                <button class="lp-custom-range__slider"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lp-row">
                    <div class="lp-pg-settings__radio-wrap">
                        <div class="lp-radio">
                            <input class="lp-radio__input"   id="lp-pg-easy-to-say" name="encryption-style" type="radio" value="easy-to-say" />
                            <label class="lp-radio__label" for="lp-pg-easy-to-say">
                                Easy to say
                            </label>
                                <div class="lp-icon__info">
                                    <span class="lp-pg-tooltip-content">
                                        Avoid numbers and special characters
                                    </span>
                                </div>
                        </div>
                        <div class="lp-radio">
                            <input class="lp-radio__input" id="lp-pg-easy-to-read" name="encryption-style" type="radio" value="easy-to-read" />
                            <label class="lp-radio__label" for="lp-pg-easy-to-read">
                                Easy to read
                            </label>
                                <div class="lp-icon__info">
                                    <span class="lp-pg-tooltip-content">
                                        Avoid ambiguous characters like l, 1, O, and 0
                                    </span>
                                </div>

                        </div>
                        <div class="lp-radio">

                            <input class="lp-radio__input" checked=&quot;checked&quot;  id="lp-pg-all-characters" name="encryption-style" type="radio" value="all-characters"/>

                            <label class="lp-radio__label" for="lp-pg-all-characters">
                                All characters
                            </label>
                                <div class="lp-icon__info">
                                    <span class="lp-pg-tooltip-content">
                                        Any character combinations like !, 7, h, K, and l1
                                    </span>
                                </div>

                        </div>
                    </div>
                    <div class="lp-pg-settings__checkbox-wrap">
                        <div class="lp-checkbox">
                            <input class="lp-checkbox__input" checked=&quot;checked&quot;  id="lp-pg-uppercase" type="checkbox" name="uppercase" />
                            <label class="lp-checkbox__label" for="lp-pg-uppercase">
                                Uppercase
                            </label>
                        </div>
                        <div class="lp-checkbox">
                            <input class="lp-checkbox__input" checked=&quot;checked&quot; id="lp-pg-lowercase" type="checkbox" name="lowercase" />
                            <label class="lp-checkbox__label" for="lp-pg-lowercase">
                                Lowercase
                            </label>
                        </div>
                        <div class="lp-checkbox">
                            <input class="lp-checkbox__input"  checked=&quot;checked&quot;  id="lp-pg-numbers" type="checkbox" name="numbers" />
                            <label class="lp-checkbox__label" for="lp-pg-numbers">
                                Numbers
                            </label>
                        </div>
                        <div class="lp-checkbox">
                            <input class="lp-checkbox__input"  checked=&quot;checked&quot; id="lp-pg-symbols" type="checkbox" name="symbols" />
                            <label class="lp-checkbox__label" for="lp-pg-symbols">
                                Symbols
                            </label>
                        </div>
                    </div>
                </div>
            </form>
{% endblock %}