{% extends "layout.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/disable_radio.js"></script>
    <script>
        $(document).ready(function() {
        // By Default Disable radio button
$(".second1").attr('disabled', true);
$(".second2").attr('disabled', true);
$(".second3").attr('disabled', true);
$(".second4").attr('disabled', true);
$(".second5").attr('disabled', true);
$(".wrap").css('opacity', '.2');
$(".wrap1").css('opacity', '.2'); // This line is used to lightly hide label     for disable radio buttons.
// Disable radio buttons function on Check Disable radio button.
$("form input:radio").change(function() {
if ($(this).val() == "Enable") {
$(".second1").attr('checked', false);
$(".second1").attr('disabled', true);
$(".second2").attr('checked', false);
$(".second2").attr('disabled', true);
$(".second3").attr('checked', false);
$(".second3").attr('disabled', true);
$(".second4").attr('checked', false);
$(".second4").attr('disabled', true);
$(".second5").attr('checked', false);
$(".second5").attr('disabled', true);
$(".wrap").css('opacity', '.2');
$(".wrap1").css('opacity', '1');
}
 // Else Enable radio buttons.
else {
$(".second1").attr('disabled', false);
$(".second2").attr('disabled', false);
$(".second3").attr('disabled', false);
$(".second4").attr('disabled', false);
$(".second5").attr('disabled', false);
$(".wrap").css('opacity', '1');
$(".wrap1").css('opacity', '.2');
}
});
});
    </script>
<div class="container">
<div class="main">
<h3 align="center" style="color:red" >PASSWORD GENERATOR TOOL</h3>
    <br><br>
<form action="/ran_gen" method="post" id="form" style="border: 1px solid grey;">
    <table>
        <tr>
            <td style="vertical-align: top" >
                <input type="radio" name="first" value="Enable" id="enable">
                <span style="font-weight:bold" class="wrap1">Generate a secure random password</span>
            </td>
            <td style="width:10%"></td>
            <td>
                <input type="radio" name="first" value="Disable" id="disable">
<span style="font-weight:bold" class="wrap">Customize your password</span>
                <br>
    <div>
    <label class="wrap" >Password Length</label>
        <input class="second" value="12" name="second1" step="1" id="lp-pg-password-length" type="number" min="0" max="100" />
      <br>
<input type="checkbox" name="second2" class="second" value="Uppercase">
<span class="wrap">Uppercase</span>
        <br>
<input type="checkbox" name="second3" class="second" value="Lowercase">
<span class="wrap">Lowercase</span>
        <br>
        <input type="checkbox" name="second4" class="second" value="Numbers">
<span class="wrap">Numbers</span>
        <br>
        <input type="checkbox" name="second5" class="second" value="Symbols">
<span class="wrap">Symbols</span>
        <br>
    </div>

            </td>
        </tr>

    </table>
    <div align="center">
                        <input value={{password}} id="GENERATED-PASSWORD2" spellcheck="false" class="lp-pg-generated-password__input" type="text" />
                        <button type="submit"> Generate </button>
                        </div>



</form>
</div>
</div>


{% endblock %}

